<h1><%= @recipe.name%></h1>
<% if logged_in? && @liked == false %>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="submit" value="Like">
  </form>
<% elsif logged_in? %>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="submit" value="Unlike">
  </form>
<% end %>
<h4>Submitted by <a href="/users/<%= @recipe.creator.id %>"><%= @recipe.creator.name %></a></h4>
<%= @recipe.like_count %> Likes
<br><br>
<% if !@ingredients.nil? %>
  <% @ingredients.each do |i| %>
    <a href="/ingredients/<%= i.id %>"><%= i.variety %></a><br>
  <% end %>
<% end %>

<p><%= parse_textarea(@recipe.instructions) %></p>

<h3>Similar Recipes</h3>
<% if !@similar.nil? %>
  <% @similar.each do |r| %>
    <a href="/recipes/<%= r.id %>"><%= r.name %></a><br>
  <% end %>
<% else %>
  No similar recipes.
<% end %>

<br><br><br>
<% if @recipe.creator == current_user %>
  <a href="/recipes/<%= @recipe.id %>/edit"><button>Edit Recipe</button></a>
  <form action="/recipes/<%= @recipe.id%>" method="post" style="display: inline;">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
<% end %>
